/*********************************************
 Note!
 There are few CkEditor Specific Styles applied
 in 'styles.scss' around line 500
 *********************************************/

textarea {
  height: 300px;
}
.ckeditor-border {
  border: 1px solid #ced4da;
  border-radius: 5px;
}

