<!--<section class="landing-page-details">-->
<!--  <form (keydown.enter)="$event.preventDefault()">-->
<!--    &lt;!&ndash; Contact Info Area &ndash;&gt;-->
<!--    <div class="contact-info-content">-->
<!--      <p class="title">Contact Info</p>-->

<!--      &lt;!&ndash; Customer question redirect person form &ndash;&gt;-->
<!--      <div class="if-customer-has-question-wrap mt-3">-->
<!--        <p class="section-title">If customer has questions, who should we direct them to?</p>-->

<!--        <div class="light-blue-card" *ngFor="let personInfo of personInfoList; let i = index">-->
<!--          <div class="row">-->
<!--            <div class="col-12 col-md-6 mb-3">-->
<!--              <label class="input-label-text">First Name</label>-->
<!--              <input-->
<!--                type="text"-->
<!--                class="form-control"-->
<!--                [(ngModel)]="personInfo.firstName"-->
<!--                [ngModelOptions]="{ standalone: true }"-->
<!--                placeholder="Type text"-->
<!--                maxlength="50"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="col-12 col-md-6 mb-3">-->
<!--              <label class="input-label-text">Last Name</label>-->
<!--              <input-->
<!--                type="text"-->
<!--                class="form-control"-->
<!--                [(ngModel)]="personInfo.lastName"-->
<!--                [ngModelOptions]="{ standalone: true }"-->
<!--                placeholder="Type text"-->
<!--                maxlength="50"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="col-12 col-md-6 mb-3 mb-sm-0">-->
<!--              <label class="input-label-text">Email Address</label>-->
<!--              <input-->
<!--                type="text"-->
<!--                class="form-control"-->
<!--                [(ngModel)]="personInfo.email"-->
<!--                [ngModelOptions]="{ standalone: true }"-->
<!--                placeholder="Type text"-->
<!--                maxlength="50"-->
<!--              />-->
<!--            </div>-->
<!--            <div class="col-12 col-md-6 mb-3 mb-sm-0">-->
<!--              <label class="input-label-text">Mobile Number (optional)</label>-->

<!--              <div class="d-flex form-control">-->
<!--                <span>+1</span>-->
<!--                <input-->
<!--                  style="border: none"-->
<!--                  [(ngModel)]="personInfo.mobileNumber"-->
<!--                  [ngModelOptions]="{ standalone: true }"-->
<!--                  appPhoneNumberMask-->
<!--                  class="ps-2"-->
<!--                  type="text"-->
<!--                />-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
<!--</section>-->

<!--<campaign-layout-bottm-btns-->
<!--  *ngIf="!isWaiting"-->
<!--  [rightFirstBtnClick]="handleClickBackButton"-->
<!--  [rightSecondBtnClick]="handleClickNextButton"-->
<!--&gt;</campaign-layout-bottm-btns>-->

<section class="campaign-details-form-content">
  <form (keydown.enter)="$event.preventDefault()">
    <!-- Contact Info Area -->
    <div class="contact-info-content">
      <p class="title">Contact Info</p>

      <!-- Customer question redirect person form -->
      <div class="if-customer-has-question-wrap mt-3">
        <p class="section-title">If customer has questions, who should we direct them to?</p>

        @for (personInfo of personInfoList(); track personInfo; let i = $index) {
          <div class="light-blue-card">
            <div class="row">
              <div class="col-12 col-md-6 mb-3">
                <label class="input-label-text">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personInfo.firstName"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Type text"
                  maxlength="50"
                />
              </div>
              <div class="col-12 col-md-6 mb-3">
                <label class="input-label-text">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personInfo.lastName"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Type text"
                  maxlength="50"
                />
              </div>
              <div class="col-12 col-md-6 mb-3 mb-sm-0">
                <label class="input-label-text">Email Address</label>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="personInfo.email"
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Type text"
                  maxlength="50"
                />
              </div>
              <div class="col-12 col-md-6 mb-3 mb-sm-0">
                <label class="input-label-text">Mobile Number (optional)</label>
                <div class="d-flex form-control">
                  <span>+1</span>
                  <input
                    style="border: none"
                    [(ngModel)]="personInfo.mobileNumber"
                    [ngModelOptions]="{ standalone: true }"
                    appPhoneNumberMask
                    class="ps-2"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </form>
</section>

@if (!isWaiting()) {
  <campaign-layout-bottm-btns
    [rightFirstBtnClick]="handleClickBackButton"
    [rightSecondBtnClick]="handleClickNextButton"
  />
}
