<div class="ac-table-wrap">
  <table class="ac-table">
    <thead>
      <tr>
        <th class="col-check">
          <button
            type="button"
            class="check-btn"
            [class.checked]="allSelected || selectedItemCount > 0"
            [disabled]="!cardData.length"
            (click)="onSelectAll()"
            aria-label="Select all on this page"
          >
            <i class="fa" [ngClass]="allSelected || !selectedItemCount ? 'fa-check' : 'fa-minus'" aria-hidden="true"></i>
          </button>
        </th>
        <th>Name</th>
        <th>Email Address</th>
        <th class="col-view"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let row of cardData"
        [class.selected]="row.is_selected"
        (click)="handleRowClick(row)"
        title="View contact details"
      >
        <td class="col-check">
          <button
            type="button"
            class="check-btn"
            [class.checked]="row.is_selected"
            (click)="onCheckboxClicked($event, row)"
            [attr.aria-label]="'Select ' + getName(row)"
          >
            <i class="fa fa-check" aria-hidden="true"></i>
          </button>
        </td>
        <td>
          <div class="name-cell">
            <span class="avatar">{{ getInitials(row) }}</span>
            <span class="name text-capitalize">{{ getName(row) }}</span>
          </div>
        </td>
        <td class="email">{{ getEmail(row) }}</td>
        <td class="col-view"><i class="fa fa-angle-right" aria-hidden="true"></i></td>
      </tr>

      <tr *ngIf="cardData.length === 0" class="empty-row">
        <td colspan="4">
          <i class="fa fa-users" aria-hidden="true"></i>
          No contacts are waiting for this email.
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ac-pager" *ngIf="total">
  <div class="per-page">
    Per page
    <select [(ngModel)]="limit" (change)="onShowEntriesSelect()">
      <option [ngValue]="25">25</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
      <option [ngValue]="200">200</option>
    </select>
  </div>
  <span class="range">{{ rangeStart }}–{{ rangeEnd }} of {{ total | number }}</span>
  <div class="pager-btns" *ngIf="totalPage > 1">
    <button type="button" class="icon-btn" aria-label="Previous page" [disabled]="currentPage <= 1" (click)="paginationLeftArrowClick()">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </button>
    <span class="page-of">Page {{ currentPage }} of {{ totalPage }}</span>
    <button type="button" class="icon-btn" aria-label="Next page" [disabled]="currentPage >= totalPage" (click)="paginationRightArrowClick()">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
    </button>
  </div>
</div>
