.kexy-table-card {
  background: white;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 5px 0 #d6d6d6;

  .card-header {
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;

    p {
      margin-bottom: 0;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;

      span {
        font-size: 12px;
      }
    }

    .pagination-section {
      display: flex;
      align-items: center;

      .btn-wrap {
        width: fit-content;
      }

      .conv-pagination-wrap {
        padding-left: 20px;
        border-radius: 10px;

        .conv-pagination {
          display: flex;
          //justify-content: flex-end;
          align-items: center;
          //min-width: 200px;
          p {
            color: #5e5e5e;
            font-size: 14px;
            margin-bottom: 0;
          }

          .pagination-arrow {
            font-size: 20px;
            width: 30px;
            cursor: pointer;
            border-radius: 50%;
            height: 30px;
            display: inline-block;
            text-align: center;
            background: #e7f6fe;

            &:hover {
              background: lightgray;
            }
          }

          .disabled {
            color: grey;
            pointer-events: none;
            cursor: crosshair;
          }
        }
      }
    }
  }

  .new-table-wrapper {
    overflow-y: hidden;
    overflow-x: scroll;

    .list-wrapper {
      background: #e7f6fe;
      border-radius: 10px;

      .n-table {
        outline: 0;

        .n-product {
          background: white;
          cursor: pointer;
          border-bottom: 1px solid #a2deff;

          &:hover {
            background: #edeeff;
          }

          &.selected {
            background: #e2f9fe;
          }
        }

        tr.n-header {
          text-transform: uppercase;
          color: #0047cc;
          position: relative;
          z-index: 1000;
          font-weight: bold;
        }

        .n-header-product {
          width: 20px;
          padding: 10px;
          font-size: 12px;
        }

        .n-header-name,
        .n-header-title {
          font-size: 12px;
          color: #0047cc;
          padding: 10px 0;

          .select-all-header-icons {
            display: inline-block;
            width: 100%;
            text-align: center;
            cursor: pointer;

            i {
              font-size: 18px;
              width: 15px;
            }
          }
        }

        td.n-cell {
          height: 48px;

          span {
            font-size: 14px;
            display: inline-block;
            line-height: 16px;
            color: black;
            font-weight: normal;
          }

          .col-actions {
            width: 100%;
            display: inline-block;
            text-align: center;

            i {
              font-size: 16px;
              padding: 10px;
            }
          }

          &.title-of-campaign-column-width {
            width: 170px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  .pagination {
    text-align: right;
    padding: 10px;
  }
}

.kexy-table-entry-count {
  display: flex;
  align-items: center;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 600;

  select {
    margin: 0 10px;
    width: auto;
    padding: 3px;
    font-size: 14px;
  }
}

.checkbox-icon {
  font-size: 18px;
  color: #b8b6b6;

  &.selected {
    color: #2646c5;
  }
}
.action-btns-wrap {
  margin-right: 20px;
  display: flex;
  gap: 15px;
}
