<div class="kexy-table-card">
  <section class="card-header">
    <!--    <p class="d-flex align-items-center">-->
    <!--      Contacts-->
    <!--    </p>-->

    <div class="d-flex">
      <div *ngIf="selectedContacts.length" class="action-btns-wrap">
        <app-kexy-button
          (click)="unenrollBtnClicked()"
          label="Unenroll"
          iconLeft="fa-minus-circle"
          tooltip=""
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
        ></app-kexy-button>
      </div>
      <div *ngIf="totalPage" class="kexy-table-entry-count">
        Per Page:
        <select class="form-control" style="width: auto" [(ngModel)]="limit" (change)="onShowEntriesSelect($event)">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
        </select>
      </div>
      <div *ngIf="totalPage" class="pagination-section">
        <div class="conv-pagination-wrap">
          <div class="conv-pagination">
            <p>
              Page
              <ng-container *ngIf="!isLoading">{{ currentPage }}</ng-container>
              <span *ngIf="isLoading"><i aria-hidden="true" class="fa fa-spinner fa-spin"></i></span>
              of {{ totalPage }}
            </p>
            <div class="ms-2">
              <span class="pagination-arrow" (click)="paginationLeftArrowClick()">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
              </span>
              <span class="pagination-arrow ms-1" (click)="paginationRightArrowClick()">
                <i aria-hidden="true" class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="new-table-wrapper">
    <div [style.width]="tableWidth + 'px'" class="list-wrapper">
      <table *ngIf="columnList" [style.width]="tableWidth + 'px'" class="n-table">
        <!-- header - start -->
        <tr class="n-header">
          <ng-container *ngFor="let column of columnList">
            <td
              class="n-header-name"
              [style.background-color]="tableHeaderBg"
              [style.color]="tableHeaderColor"
              [style.width]="column.width ? column.width+'px' : ''"
            >
              <!--Showing column name-->
              <span *ngIf="column.name">{{ column.name }}</span>

              <!--Showing select all icon-->
              <span *ngIf="!column.name && column.key === 'action'" class="select-all-header-icons"
                    (click)="checkboxClicked(null, true)">
                <i *ngIf="isNoItemSelected()" aria-hidden="true" class="fa fa-square-o checkbox-icon"></i>
                <i *ngIf="selectedItemCount > 0 && selectedItemCount < cardData.length" aria-hidden="true"
                   class="fa fa-minus-square-o"></i>
                <i *ngIf="cardData.length && selectedItemCount === cardData.length" aria-hidden="true"
                   class="fa fa-check-square-o"></i>
              </span>

            </td>
          </ng-container>
        </tr>
        <!-- header - end -->

        <!-- body - start -->
        <ng-container *ngIf="!isWaitingFlag && cardData.length > 0">
          <tr class="n-product" [class.selected]="row.is_selected" *ngFor="let row of cardData; let i = index" (click)="handleRowClick($event, row)">
            <ng-container *ngFor="let column of columnList">
              <td
                class="n-cell"
                [style.width]="column.width"
              >
                <span
                  *ngIf="column.key !== 'action'"
                  [className]="column.key !== 'email' ? 'text-capitalize' : ''"
                >
                  {{ getCellValue(row, column) }}
                </span>

                <span *ngIf="column.key === 'action'" class="text-center d-inline-block w-100" (click)="onCheckboxClicked($event, row)">
                  <i *ngIf="!row.is_selected" aria-hidden="true" class="fa fa-square-o checkbox-icon"></i>
                  <i *ngIf="row.is_selected" aria-hidden="true" class="fa fa-check-square checkbox-icon selected"></i>
                </span>

              </td>
            </ng-container>
          </tr>
        </ng-container>

        <ng-container *ngIf="!isWaitingFlag && cardData.length === 0">
          <tr class="n-product">
            <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block"
                    [style.width]="browserWidthForTable + 'px'">Sorry, no data found.</span>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isWaitingFlag">
          <tr class="n-product">
            <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block" [style.width]="browserWidthForTable + 'px'"><i
                class="fa fa-refresh fa-spin"></i></span>
            </td>
          </tr>
        </ng-container>
        <!-- body - end -->
      </table>
    </div>
  </section>
</div>
