<div class="kexy-table-card">
  <section class="card-header">
    <p>Lists</p>

    <div *ngIf="totalPage" class="d-flex">
      <div class="kexy-table-entry-count">
        Per Page:
        <select class="form-control" style="width: auto" [(ngModel)]="limit" (change)="onShowEntriesSelect($event)">
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
        </select>
      </div>
      <div class="pagination-section">
        <div class="conv-pagination-wrap">
          <div class="conv-pagination">
            <p>
              Page
              <ng-container *ngIf="!isLoading">{{ currentPage }}</ng-container>
              <span *ngIf="isLoading"><i aria-hidden="true" class="fa fa-spinner fa-spin"></i></span>
              of {{ totalPage }}
            </p>
            <div class="ms-2">
              <span class="pagination-arrow" (click)="paginationLeftArrowClick()">
                <i aria-hidden="true" class="fa fa-angle-left"></i>
              </span>
              <span class="pagination-arrow ms-1" (click)="paginationRightArrowClick()">
                <i aria-hidden="true" class="fa fa-angle-right"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="new-table-wrapper">
    <div [style.width]="tableWidth + 'px'" class="list-wrapper">
      <table *ngIf="columnList" [style.width]="tableWidth + 'px'" class="n-table">
        <!-- header - start -->
        <tr class="n-header">
          <ng-container *ngFor="let column of columnList">
            <td
              class="n-header-name"
              [style.background-color]="tableHeaderBg"
              [style.color]="tableHeaderColor"
              [style.width]="column.width ? column.width+'px' : ''"
            >
              <!--Showing column name-->
              <span *ngIf="column.name" [className]="column.key === 'list_size' ? 'w-100 d-inline-block text-center' : '' ">{{ column.name }}</span>

              <!--Showing select all icon-->
              <span *ngIf="!column.name && column.key === 'action'" class="select-all-header-icons"
                    (click)="checkboxClicked(null, true)">
                <i *ngIf="isNoItemSelected()" aria-hidden="true" class="fa fa-square-o checkbox-icon"></i>
                <i *ngIf="selectedItemCount > 0 && selectedItemCount < cardData.length" aria-hidden="true"
                   class="fa fa-minus-square-o"></i>
                <i *ngIf="cardData.length && selectedItemCount === cardData.length" aria-hidden="true"
                   class="fa fa-check-square-o"></i>
              </span>

            </td>
          </ng-container>
        </tr>
        <!-- header - end -->

        <!-- body - start -->
        <ng-container *ngIf="!isWaitingFlag && cardData.length > 0">
          <tr class="n-product" [class.selected]="row.isSelected" *ngFor="let row of cardData; let i = index">
            <ng-container *ngFor="let column of columnList">
              <td
                [className]="'n-cell ' + getCellClasses(column)"
                [style.width]="column.width ? column.width+'px' : ''"
              >
                <span *ngIf="column.key === 'date_created'">{{row.createdAt | date : "medium"}}</span>

                <span *ngIf="column.key === 'list_size'" class="w-100 d-inline-block text-center link-text" (click)="redirectListContactsPage(row)">{{row.contactListCount}}</span>

                <span *ngIf="column.key === 'creator'">{{userData.firstName}} {{userData.lastName}}</span>

                <span *ngIf="column.key === 'label'" style="cursor: pointer" (click)="redirectListContactsPage(row)">
                  <span
                    [style.background-color]="row.bgColor"
                    [style.color]="row.textColor"
                    class="label-tag"
                  >
                    {{ row.label }}
                  </span>
                </span>

                <span
                  *ngIf="column.key === 'used_in'"
                  class="see-more-label-text"
                  style="cursor: pointer"
                  (click)="openShowAllLabelModal($event, row.dripCampaignList)"
                >
                  {{row.dripCampaignList.length}} - Drip Campaign(s)
                </span>

                <span *ngIf="column.key === 'action'" style="cursor: pointer" (click)="checkboxClicked(row)">
                  <i *ngIf="!row.isSelected" aria-hidden="true" class="fa fa-square-o checkbox-icon"></i>
                  <i *ngIf="row.isSelected" aria-hidden="true" class="fa fa-check-square checkbox-icon selected"></i>
                </span>

              </td>
            </ng-container>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isWaitingFlag && cardData.length === 0">
          <tr class="n-product">
            <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block"
                    [style.width]="browserWidthForTable + 'px'">Sorry, no data found.</span>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="isWaitingFlag">
          <tr class="n-product">
            <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block" [style.width]="browserWidthForTable + 'px'"><i
                class="fa fa-refresh fa-spin"></i></span>
            </td>
          </tr>
        </ng-container>
        <!-- body - end -->
      </table>
    </div>
  </section>
</div>
