<div
  class="sing-conv"
  [class.selected]="selected"
  [class.unread]="conversation.hasUnread"
  on-mouseenter="onCardHover()"
  on-mouseleave="onCardHoverEnd()">
  <div class="m-1">
    <brand-convo-avatar [text]="getNameInitials(prospect['receiverDetails'])" [color]="'blue'"></brand-convo-avatar>
  </div>
  <div class="conv-user">
    <div class="name-date">
      <p>{{ prospect['receiverDetails'].first_name }} {{ prospect['receiverDetails'].last_name }}</p>
      <span *ngIf="prospect['messages']?.length">
        {{ getLatestMessageDate() | date }}
      </span>
    </div>
    <span *ngIf="prospect['messages'][0]">
      {{ shortMessage }}...
    </span>
  </div>
  <div *ngIf="hoverActiveCard && !conversation.isPinned" class="pinbar-wrap" (click)="handlePinbarClick()">
    <i class="fa fa-thumb-tack" aria-hidden="true"></i>
  </div>
  <div *ngIf="conversation.isPinned" class="pinbar-wrap" (click)="handlePinbarClick()">
    <i class="fa fa-thumb-tack" aria-hidden="true" style="color: #12A5F4"></i>
  </div>
</div>
