<div class="canvas-content-wrap">
  <div class="head-area">
    <div>
      <p>Delay Details</p>
      <span>Create a delay between actions.</span>
    </div>
    <img src="/assets/images/close-icon.png" alt="Close" (click)="activeCanvas.dismiss('Cross click')" />
  </div>

  <div class="canvas-body">
    <form (ngSubmit)="handleSubmit()">
      <div class="input-wrap">

        <!--Wait time-->
        <div class="label-and-input">
          <p class="choose-how-long-text">Choose how long the contact should wait before moving to the next action</p>
          <div class="row">
            <div class="col-12 col-md-4">
              <p class="input-title">Days</p>
              <input type="number" name="delayDays" class="form-control" min="0" [(ngModel)]="delay.days" (change)="onDelayDaysChange()"/>
            </div>
            <div class="col-12 col-md-4">
              <p class="input-title">Hours</p>
              <input type="number" name="delayHours" class="form-control" min="0" max="24" [(ngModel)]="delay.hours" (change)="onDelayHoursChange()"/>
            </div>
            <div class="col-12 col-md-4">
              <p class="input-title">Minutes</p>
              <input type="number" name="delayMinutes" class="form-control" min="0" max="60" [(ngModel)]="delay.minutes" (change)="onDelayMinuteChange()"/>
            </div>
            <div class="col-12" *ngIf="submitted && delay.days === 0 && delay.hours === 0 && delay.minutes === 0">
              <error-message-card message="Please enter a valid delay time."></error-message-card>
            </div>
          </div>
        </div>
      </div>

      <div class="bottom-buttons">
        <button class="blue-button me-3" type="submit">
          <i *ngIf="isLoading" class="fa fa-spinner fa-spin ms-2" aria-hidden="true" style="color: white"></i>
          Save
        </button>
        <button class="blue-border-white-bg-button" type="button" (click)="activeCanvas.dismiss('Cross click')">Cancel</button>
      </div>
    </form>
  </div>
</div>
