.brand-list-contacts-page {
  background: #e7f6fe;
  padding: 18px 24px;
  min-height: calc(100vh - 70px);

  .card-area-wrap {
    padding-bottom: 20px;
  }
}
.campaign-details-form-content {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 #d6d6d6;

  form {
    padding: 16px;
    label {
      position: relative;
      i {
        font-size: 8px;
        color: red;
        position: absolute;
        margin-left: 3px;
      }
    }
    selec.form-control {
      padding: 0.375rem 0.75rem !important;
    }
    .date-range-input {
      position: relative;
      img {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    .wordLimit {
      position: absolute;
      right: 22px;
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #7b8496;
    }
    .input-which-icon-in-left {
      position: relative;
    }
    .icon-in-input-left {
      position: absolute;
      z-index: 20;
      left: 12px;
      top: 7px;
    }
    .drag-drop-file-selection-wrap {
      background: #e7f6fe;
      border: 1px dashed rgba(0, 71, 204, 0.3);
      border-radius: 10px;
      text-align: center;
      .drag-drop-input {
      }
      .drag-drop-input-content {
        width: 100%;
        height: 100%;
      }
      .drag-drop-text {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;

        .left-img-wrap {
          min-width: 38px;
          min-height: 38px;
          border-radius: 50%;
          background: white;
          margin-right: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
          }
        }
        button {
          border: none;
          outline: none;
          background: transparent;
          color: #0047cc;
          text-decoration: underline;
          margin-left: 4px;
        }
        .format-name {
          color: #717379;
          font-size: 12px;
        }
      }
      .selected-pdf-view {
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        .pdf-icon-wrap {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .pdf-name {
          margin: 0 0 0 10px;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          letter-spacing: -0.01em;
        }
        .delete-btn-wrap {
          button {
            border: none;
            outline: none;
            background: white;
            font-family: Lato;
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            letter-spacing: -0.01em;
            color: #ca3709;
            border-radius: 10px;
            padding: 10px;
            i {
              margin-right: 5px;
            }
          }
        }
      }
      input {
        position: relative;
      }
    }

    .input-label-text {
      font-size: 11px;
      line-height: 13px;
    }
    .website-hint {
      font-size: 13px;
      color: #202020;
      margin-bottom: 12px;
    }
    .sub-label-text {
      font-size: 9px;
      opacity: 60%;
    }
    .purchase-info-label {
      font-size: 15px;
    }
    .checkbox-with-input-wrap {
      height: 35px;
      .checkbox-and-label {
        width: 160px;
      }
    }
    input:checked {
      background-color: #0d6efd !important;
    }
  }
}

