<brand-layout layoutPaddingNone="true" headerBgWhite="true" mainBgColor="#e7f6fe">
  <div class="company-description-page">
    <div class="card-area-wrap">
      <prospecting-common-card
        cardTitle="Product/Service Description"
        cardTitleLogo="/assets/icon/blue-box-icon.svg"
        cardDetails="This is the information about your products that KEXY uses to write cold emails with. The more elaborate and accurate the information here is, the better the emails will be."
      ></prospecting-common-card>
    </div>
    <div class="card-area-wrap">
      <category-product-list-card></category-product-list-card>
    </div>
  </div>
</brand-layout>
