<login-layout>
  <div class="row">
    <div class="login-container">
      <div class="login-wrapper">
        <div class="login-left">
          <h4>Reset Password</h4>
          <div class="login-form">
            <p>Please enter the 6 digit code sent to your email address!</p>
            <p *ngIf="error" class="text-danger form-error">{{ error }}</p>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label class="input-label-text">Email Address</label>
                <input
                  type="email"
                  formControlName="email"
                  readonly
                  class="login-control"
                  [(ngModel)]="email"
                  placeholder="Email Address"
                />
              </div>
              <div class="form-group">
                <label class="input-label-text">Enter 6 digit Code</label>
                <input type="text" formControlName="recovery_code" class="login-control" placeholder="6 digit code" />
                <div *ngIf="recovery_code.invalid && (recovery_code.dirty || recovery_code['touched'])">
                  <p *ngIf="recovery_code.errors['required']" class="text-danger">Recovery code is required</p>
                </div>
              </div>
              <div class="form-group">
                <label class="input-label-text">Enter New Password</label>
                <input
                  type="password"
                  formControlName="new_password"
                  class="login-control"
                  placeholder="New Password"
                />
                <div *ngIf="new_password.invalid && (new_password.dirty || new_password['touched'])">
                  <p *ngIf="new_password.errors['required']" class="text-danger">New password is required</p>
                </div>
              </div>

              <div class="form-group">
                <button
                  class="kx-create-btn"
                  type="submit"
                  [disabled]="!resetPasswordForm.valid"
                  name="submit"
                  id="submit"
                >
                  <i *ngIf="isWaitingFlag" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</login-layout>
