<brand-layout layoutPaddingNone="true" headerBgWhite="true" [fullPageScroll]="false">
  <div class="brand-contacts-page">
    <div class="top-btns">
      <!--Buttons for large screen-->
      <div class="buttons-for-large-screen">

        <app-kexy-button
          *ngIf="selectedLeadMagnet.length"
          [disabled]="isWaitingFlag || isLoading"
          (click)="deleteLeadMagnets()"
          style="margin-right: 10px"
          label=""
          iconLeft="fa-trash"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
        ></app-kexy-button>

        <app-kexy-button
          [disabled]="isWaitingFlag || isLoading"
          style="margin-right: 10px"
          label="Add Lead Magnet"
          iconLeft="fa-plus"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
          (click)="addLeadMagnetClick()"
        ></app-kexy-button>

        <app-kexy-button
          *ngIf="selectedLeadMagnet.length && selectedLeadMagnet.length === 1"
          [disabled]="isWaitingFlag || isLoading"
          style="margin-right: 10px"
          label="Edit"
          iconLeft="fa-pencil"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
          (click)="editLeadMagnetClick()"
        ></app-kexy-button>
      </div>

      <!--Buttons for small laptop screen-->
      <div class="buttons-for-small-screen">
        <app-kexy-button
          *ngIf="selectedLeadMagnet.length"
          [disabled]="isWaitingFlag || isLoading"
          (click)="deleteLeadMagnets()"
          style="margin-right: 10px"
          label=""
          iconLeft="fa-trash"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
          tooltip="Delete Contact(s)"
        ></app-kexy-button>

        <app-kexy-button
          [disabled]="isWaitingFlag || isLoading"
          style="margin-right: 10px"
          label=""
          iconLeft="fa-plus"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
          (click)="addLeadMagnetClick()"
          tooltip="Add Lead Magnet"
        ></app-kexy-button>

        <app-kexy-button
          *ngIf="selectedLeadMagnet.length"
          [disabled]="isWaitingFlag || isLoading"
          style="margin-right: 10px"
          label=""
          iconLeft="fa-pencil"
          bgColor="#e7f6fe"
          textColor="#2847cc"
          radius="8px"
          (click)="editLeadMagnetClick()"
          tooltip="Edit"
        ></app-kexy-button>
      </div>
    </div>

    <div class="content-area">

      <div class="kexy-table-card">
        <section class="card-header">

            <app-pagination
              *ngIf="totalPage"
              [page]="page"
              [totalPage]="totalPage"
              [isLoading]="isLoading"
              [limit]="limit"
              (left)="paginationLeftArrowClick()"
              (right)="paginationRightArrowClick()"
              (limitChange)="onShowEntriesSelect($event)">
            </app-pagination>


        </section>

        <section class="new-table-wrapper">
          <div
            [style.height]="!isWaitingFlag && leadMagnets.length ? 'calc(100vh - 330px)' : 'auto'" class="list-wrapper"
          >
            <table *ngIf="columnList" [style.width]="tableWidth + 'px'" class="n-table">
              <!-- header - start -->
              <thead>
              <tr class="n-header">
                <ng-container *ngFor="let column of columnList">
                  <td
                    class="n-header-name"
                    [style.background-color]="tableHeaderBg"
                    [style.color]="tableHeaderColor"
                    [style.width]="column.width ? column.width+'px' : ''"
                  >
                    <!--Showing column name-->
                    <span *ngIf="column.name">
                      {{ column.name }}
                    </span>
                  </td>
                </ng-container>
              </tr>
              </thead>
              <!-- header - end -->

              <!-- body - start -->
              <ng-container *ngIf="!isWaitingFlag && leadMagnets.length > 0">
                <tbody>
                <tr class="n-product" [class.selected]="lead.isSelected"
                    *ngFor="let lead of leadMagnets; let i = index"
                    (click)="editContact(lead)">
                  <ng-container *ngFor="let column of columnList">
                    <td
                      [className]="'n-cell ' + getCellClasses(column)"
                      [style.width]="column.width"
                    >
                    <span
                      *ngIf="column.key !== 'action'"
                      [className]="column.key !== 'leadMagnetUrl' ? 'text-capitalize' : ''">
                      {{ getCellValueToDisplay(lead, column) || 'N/A' }}
                    </span>
                      <span
                        *ngIf="column.key === 'action'"
                        class="text-center d-inline-block w-100"
                        (click)="onCheckboxClicked($event, lead)">
                        <i
                          *ngIf="!lead.isSelected"
                          aria-hidden="true"
                          class="fa fa-square-o checkbox-icon">
                        </i>
                        <i
                          *ngIf="lead.isSelected"
                          aria-hidden="true"
                          class="fa fa-check-square checkbox-icon selected">
                        </i>
                    </span>

                    </td>
                  </ng-container>
                </tr>
                </tbody>
              </ng-container>
              <ng-container *ngIf="!isWaitingFlag && leadMagnets.length === 0">
                <tr class="n-product">
                  <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block"
                    [style.width]="browserWidthForTable + 'px'">Sorry, no data found.</span>
                  </td>
                </tr>
              </ng-container>
              <ng-container *ngIf="isWaitingFlag">
                <tr class="n-product">
                  <td [colSpan]="columnList.length" class="n-cell">
              <span class="text-center d-inline-block" [style.width]="browserWidthForTable + 'px'"><i
                class="fa fa-refresh fa-spin"></i></span>
                  </td>
                </tr>
              </ng-container>
              <!-- body - end -->

            </table>
          </div>
        </section>

        <div *ngIf="totalPage" class="card-footer justify-content-end">
          <app-pagination
            *ngIf="totalPage"
            [page]="page"
            [totalPage]="totalPage"
            [isLoading]="isLoading"
            [limit]="limit"
            (left)="paginationLeftArrowClick()"
            (right)="paginationRightArrowClick()"
            (limitChange)="onShowEntriesSelect($event)">
          </app-pagination>
        </div>
      </div>


    </div>
  </div>
</brand-layout>
