<div class="content">
  <div class="left-side">
    <div class="close-icon-wrap-for-mobile">
      <button (click)="close()"><img src="/assets/images/close-icon-image.png" /></button>
    </div>
    <p class="if-you-havent-download-text">
      If you haven’t downloaded the <span class="kexy-mobile-app-text">KEXY mobile app</span>, please do so now!
    </p>
    <div class="download-links-area">
      <div class="app-play-store-section" style="border-right: 1px solid #d1e6f3">
        <div class="scan-code-wrap">
          <img src="/assets/images/app-store-scan-code.png" />
        </div>
        <div class="app-play-store-img">
          <a href="https://itunes.apple.com/us/app/k%C3%A9xy/id1450242596" target="_blank"
          ><img src="/assets/images/appstore.png"
          /></a>
        </div>
      </div>
      <div class="app-play-store-section">
        <div class="scan-code-wrap">
          <img src="/assets/images/play-store-scan-code.png" />
        </div>
        <div class="app-play-store-img">
          <a href="https://play.google.com/store/apps/details?id=com.getkexy.kexyconnect" target="_blank"
          ><img src="/assets/images/googleplay.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side">
    <div class="img">
      <div class="close-btn-wrap">
        <button (click)="close()"><img src="/assets/images/close-icon-image.png" /></button>
      </div>
    </div>
    <div class="img-for-lg-modal">
      <div class="close-btn-wrap">
        <button (click)="close()"><img src="/assets/images/close-icon-image.png" /></button>
      </div>
    </div>
  </div>
</div>
