.login-form .form-error {
  margin-top: 25px !important;
}

.login-container .login-wrapper .login-right {
  width: auto;
}

.login-container .login-wrapper .login-left button {
  float: left;
}

.login-left {
  float: left;
  padding: 48px 65px 65px 63px;
  h4 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #0047cc;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    padding: 0;
  }
  input[type="radio"],
  input[type="checkbox"] {
    outline: 1px solid #12a5f4;
    border: 0px;
  }

  .kx-create-btn {
    background: #007bff;
    color: #fff;
    padding: 13px 162px;
    margin-top: 8px;
    cursor: pointer;
    font-size: 18px;
    border: 0 !important;
    border-radius: 7px;
    outline: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .login-container {
    width: 100% !important;
    height: auto;
  }
  .login-left {
    padding: 10px 10px 30px 10px !important;
    h4 {
      font-size: 23px !important;
      line-height: 27px !important;
    }
    button {
      width: 48%;
      padding: 10px;
      font-size: 15px !important;
    }
    .kx-create-btn {
      padding: 10px;
      font-size: 16px !important;
      width: 100%;
    }
  }
  input {
    font-size: 14px !important;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .login-container {
    width: 97% !important;
    height: auto;
  }
  .login-left {
    padding: 10px 10px 30px 10px !important;
    h4 {
      font-size: 20px !important;
      line-height: 24px !important;
    }
    button {
      width: 48%;
      padding: 10px;
      font-size: 14px !important;
    }
    .kx-create-btn {
      padding: 10px;
      font-size: 13px !important;
      width: 104%;
    }
  }
  input {
    font-size: 12px !important;
  }
}
@media (min-width: 561px) and (max-width: 979px) {
  .login-container {
    width: 100% !important;
    .login-wrapper .login-left {
      float: none;
      padding: 8px 15px 8px 15px;
      h4 {
        font-size: 22px;
        line-height: 27px;
      }
    }
    input,
    select {
      font-size: 12px !important;
    }
    label,
    p,
    a {
      font-size: 14px !important;
    }
    .form-group {
      select.login-control {
        min-width: 100%;
      }
    }
    .kx-create-btn {
      padding: 8px 0;
      font-size: 12px;
      width: 100%;
      margin-bottom: 30px;
    }
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  .login-container .login-wrapper {
    padding: 20px 10px;
    .login-left {
      float: none;
      h4 {
        font-size: 22px;
        line-height: 27px;
      }
    }
    input,
    select {
      font-size: 12px !important;
    }
    label,
    p,
    a {
      font-size: 14px !important;
    }
    .kx-create-btn {
      padding: 8px 0;
      font-size: 12px;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
