.deal-other-info-wrap {
  padding: 20px;

  .icon-wrap {
    margin-bottom: 15px;
    width: 48px;
    height: 48px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    margin-bottom: 2px;
    color: #000000e6;
    font-weight: bold;
    font-size: 15px;
  }
  .value {
    margin-bottom: 0;
    color: #000000e6;
    font-size: 15px;
  }
}
.border-right {
  border-right: 1px solid #d9e1e6;
}

/*******************************************
        Responsiveness CSS
********************************************/

/* Medium Devices, Wide Screens */

@media (min-width: 992px) and (max-width: 1199px) {
  .deal-other-info-wrap {
    padding: 10px;
    .icon-wrap {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
      img {
        // padding: 8px;
        width: 40%;
      }
    }
    //.title {
    //  font-size: 9px;
    //}
    //.value {
    //  font-size: 10px;
    //}
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .deal-other-info-wrap {
    padding: 10px;
    .icon-wrap {
      width: 40px;
      height: 40px;
      margin-bottom: 10px;
      img {
        width: 40%;
      }
    }
  }
}
