<!--<div class="canvas-content-wrap">-->
<!--  <div class="head-area">-->
<!--    <p>Add Calendly or Scheduling Link</p>-->
<!--    <img src="/assets/images/close-icon.png" alt="Close" (click)="activeCanvas.dismiss('Cross click')" />-->
<!--  </div>-->

<!--  <div class="canvas-body">-->
<!--    <form [formGroup]="primaryForm" (ngSubmit)="onSubmit()">-->
<!--      <div class="input-wrap">-->
<!--        <div class="label-and-input">-->
<!--          <p>Calendly or Scheduling Link</p>-->
<!--          <input class="form-control" formControlName="calendly_link" type="text" />-->
<!--          <div *ngIf="formValidationErrorCheck('calendly_link')">-->
<!--            <error-message-card message="Field is required!"></error-message-card>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="buttons mt-4">-->
<!--        <button type="submit" class="blue-button me-3">-->
<!--          Save<i *ngIf="isLoading" class="fa fa-spinner fa-spin ms-2" aria-hidden="true" style="color: white"></i>-->
<!--        </button>-->
<!--        <button type="button" class="blue-border-white-bg-button" (click)="activeCanvas.dismiss('Cross click')">-->
<!--          Cancel-->
<!--        </button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div class="canvas-content-wrap">
  <div class="head-area">
    <p>Add Calendly or Scheduling Link</p>
    <img src="/assets/images/close-icon.png" alt="Close" (click)="activeCanvas.dismiss('Cross click')" />
  </div>

  <div class="canvas-body">
    <form [formGroup]="primaryForm" (ngSubmit)="onSubmit()">
      <div class="input-wrap">
        <div class="label-and-input">
          <p>Calendly or Scheduling Link</p>
          <input class="form-control" formControlName="calendly_link" type="text" />
          @if (formValidationErrorCheck('calendly_link')) {
            <error-message-card message="Field is required!"></error-message-card>
          }
        </div>
      </div>
      <div class="buttons mt-4">
        <button type="submit" class="blue-button me-3">
          Save
          @if (isLoading()) {
            <i class="fa fa-spinner fa-spin ms-2" aria-hidden="true" style="color: white"></i>
          }
        </button>
        <button type="button" class="blue-border-white-bg-button" (click)="activeCanvas.dismiss('Cross click')">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
