<brand-layout layoutPaddingNone="true" headerBgWhite="true">
  <div class="brand-drip-campaign-page">
    <div class="progress-wrap">
      <progress-count [currentStep]="currentStep" [steps]="steps"></progress-count>
    </div>
    <div class="page-content">
      <div *ngIf="isWaitingFlag" class="loading">
        <i class="fa me-2 fa-spinner fa-spin" aria-hidden="true"></i>
        Please wait....
      </div>
      <div class="content">
        <div *ngIf="currentStep === 1">
          <drip-campaign-content [nextBtnClick]="nextBtnClick" [backBtnClick]="backBtnClick" />
        </div>
        <div *ngIf="currentStep === 2">
          <generate-drip-campaign [nextBtnClick]="nextBtnClick" [backBtnClick]="backBtnClick" />
        </div>
      </div>
    </div>
  </div>

  <ng-template #dripCampaignInitialModal let-c="close" let-d="dismiss">
    <kexy-pro-tips-modal-content
      [closeModal]="c"
      [features]="features"
      titlePart1="How to Create a Drip Campaign"
      [bookCallBtnShow]="true"
      [from]="routeConstants.BRAND.CREATE_DRIP_CAMPAIGN"
      audioPlayBtnText="Product demo video"
      aurdioUrl=""
      audioPlayBtnIconLeft="fa-play"
      [audioOrTutorialBtnClick]="handleTutorialBtnClick"
    ></kexy-pro-tips-modal-content>
  </ng-template>
</brand-layout>

