<ul class="nav-dropdown" [class.has-flyout]="collapsed">
  <button
    class="accordion-nav-item"
    [class.section-active]="expand"
    (click)="toggleNavDropdown()"
    [attr.data-label]="label"
    [attr.title]="label"
  >
    <i class="fa {{ icon }}" aria-hidden="true"></i>
    <span class="me-3">{{ label }}</span>
    <i class="fa fa-angle-down chevron" [class.rotated]="isOpen()" aria-hidden="true"></i>
  </button>
  <div
    class="sub-nav-item-wrap"
    [class.flyout]="collapsed"
    [class.flyout-open]="flyoutOpen()"
    [class.open]="isOpen()"
  >
    @if (collapsed) {
      <div class="flyout-title">{{ label }}</div>
    }
    <div class="sub-nav-inner">
      <ng-content></ng-content>
    </div>
  </div>
</ul>
