<div class="pager-bar">
  <div class="kexy-table-entry-count">
    Per Page:
    <select class="form-control" [(ngModel)]="limit" (change)="onLimitChange($event)">
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>

  <div class="pagination-section">
    <div class="pager">
      <button type="button" class="pager-btn" [class.disabled]="isFirstPage()"
              (click)="goFirst()" title="First page" aria-label="First page">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
      </button>
      <button type="button" class="pager-btn" [class.disabled]="isFirstPage()"
              (click)="left.emit()" title="Previous page" aria-label="Previous page">
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>

      <span class="pager-status">
        Page
        <ng-container *ngIf="!isLoading"><strong>{{ page }}</strong></ng-container>
        <i *ngIf="isLoading" class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        of <strong>{{ totalPage }}</strong>
      </span>

      <button type="button" class="pager-btn" [class.disabled]="isLastPage()"
              (click)="right.emit()" title="Next page" aria-label="Next page">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>
      <button type="button" class="pager-btn" [class.disabled]="isLastPage()"
              (click)="goLast()" title="Last page" aria-label="Last page">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </button>
    </div>

    <form class="pager-jump" (ngSubmit)="handleNavigate()">
      <label>Go to</label>
      <input class="jump-input" type="number" min="1" [max]="totalPage" placeholder="#"
             [(ngModel)]="navigatePageNumber" [ngModelOptions]="{standalone: true}" />
      <button type="submit" class="jump-go" title="Go" aria-label="Go to page">
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </form>
  </div>
</div>
