.brand-list-of-drip-campaign-page {
  .top-btns {
    height: 55px;
    padding: 10px 30px;
    display: flex;
    justify-content: flex-end;
    background: white;
  }

  .content-area {
    padding: 24px;
    overflow-x: scroll;
    height: calc(100vh - 129px);
    background: #e7f6fe;
  }
}
