<div class="public-promotion-page">
  <div *ngIf="loading" class="loading">
    <i class="fa fa-refresh fa-spin me-2" aria-hidden="true"></i>
    Please wait....
  </div>

  <desktop-preview
    *ngIf="!loading"
    [landingPage]="landingPage"
    [sendEmailBtnClickHander]="handleBottomBtnClick"
    [campaignTitleText]="landingPage.detail.title.title"
    [campaignDetailsText]="landingPage.detail.innerDetail.innerDetail"
    [productText]="productText"
  ></desktop-preview>
</div>

<ng-template #sendEmailModal let-c="close" let-d="dismiss">
  <div class="send-email-modal-content">
    <div class="title-and-close-btn">
      <p class="modal-of-title">Send an email</p>
      <div class="close-icon-wrap" (click)="c()">
        <img src="/assets/images/close-icon.png" alt="close-icon" />
      </div>
    </div>
    <div class="send-email-modal-body">
      <div class="top-area">
        <div class="text-content">
          <div class="user-info d-flex align-items-center" *ngIf="selectedConversation">
            <brand-convo-avatar
              text="IH"
              [color]="'blue'"
            ></brand-convo-avatar>
            <span class="m-2">
                <strong>
                  {{ selectedConversation.receiver_details.first_name }}
                  {{ selectedConversation.receiver_details.last_name }}
                </strong>
                <br>
                <span style="font-size: 14px">
                  {{ selectedConversation.receiver_details.jobTitle }} at
                  <a
                    [href]="selectedConversation.receiver_details.companyWebsite"
                    target="_blank"
                    class="company-name">
                    {{ selectedConversation.receiver_details.companyName }}
                  </a>
                </span>
              </span>
          </div>
        </div>
      </div>

      <div class="inputs-wrap">
        <div class="label-and-input">
          <label class="input-label-text">Full Name</label>
          <input class="form-control" type="text" [(ngModel)]="userFullName" />
          <div *ngIf="submitted && !userFullName">
            <error-message-card message="Please enter valid data."></error-message-card>
          </div>
        </div>
        <div class="label-and-input">
          <label class="input-label-text">Your Email Address</label>
          <input class="form-control" type="email" [(ngModel)]="userEmailAddress" />
          <div *ngIf="submitted && !userEmailAddress">
            <error-message-card message="Please enter valid data."></error-message-card>
          </div>
        </div>
      </div>

      <div class="text-area">
        <label class="input-label-text">Email Body</label>
        <div class="textarea-wrap">
          <kexy-rich-editor
            [content]="emailContent"
            [onContentUpdate]="onEmailContentChange">
          </kexy-rich-editor>
        </div>
        <div *ngIf="!(emailContent || updatedEmailContent) && submitted">
          <error-message-card message="Please enter valid data."></error-message-card>
        </div>
      </div>
      <div class="bottom-btn-area">
        <div class="btn-wrap">
          <app-kexy-button
            (click)="addMessageToConversation()"
            [disabled]="loading"
            [label]="loading ? 'Please wait...' : 'Send email' "
            [iconLeft]="loading ? 'fa-refresh fa-spin' : 'fa-paper-plane-o'"
          ></app-kexy-button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
