.public-promotion-page {
  background: #e7f6fe;
  padding: 50px;
  height: 100vh;
  overflow-y: auto;
}
.desktop-preview-content-wrap {
  //background-color: white;
  background: white;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 10px;
  //height: calc(100vh - 60px);
  .kexy-deal-logo {
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(44, 162, 221, 1) 0%, rgba(41, 93, 208, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    .deal-logo-text {
      font-size: 15px;
      line-height: 18px;
      font-weight: bold;
      color: white;
      text-align: center;
    }
  }

  .top-mid-section-wrap {
    border: 1px solid #e6e6e6;
    border-radius: 10px;
  }

  //.middle-section {
  //  .area-wrap {
  //    .area-title {
  //      color: #706464d1;
  //      margin-bottom: 2px;
  //      font-weight: bold;
  //    }
  //    .area-desc {
  //      margin-bottom: 0px;
  //      font-weight: bold;
  //      color: #000000e6;
  //      word-break: break-word;
  //    }
  //  }
  //}
  .top-area {
    padding: 12px;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
    .asset-and-buttons {
      margin-right: 20px;
      .img-wrap {
        position: relative;
        width: 240px;
        height: 200px;
        margin-bottom: 12px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;

        .heart-icon-wrap {
          display: flex;
          justify-content: flex-end;
          padding: 20px;
          .save-favorite-btn-wrap {
            width: 45px;
            height: 45px;
            background: black;
            backdrop-filter: blur(12px);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 10;
            i {
              color: white;
            }
          }
        }
      }
    }
    .other-content {
      width: 100%;
      .campaign-price-savings-specs-info-wrap {
        margin-top: 20px;
        .info-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid #eff0f2;
          padding: 10px 0;
          .left-text {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0em;
            margin-bottom: 0;
            color: #666666;
          }
          .right-text {
            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            margin-bottom: 0;
            color: #000000;
          }
        }
      }
      .validation-info-wrap {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        background: #fff1e9;
        border-radius: 8px;
        .contents {
          padding: 20px 0 20px 20px;
          flex: 1;
          .date-range-text {
            margin-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            color: #666666;
          }
          .offer-text {
            margin-bottom: 0;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            letter-spacing: 0em;
            color: #f46112;
          }
        }
        .img-wrap {
          display: flex;
          align-self: end;
          margin-left: 20px;
        }
      }
    }
    .campaign-type-logo-and-title {
      display: flex;
      justify-content: space-between;
      .title-and-offer-text {
        margin-right: 20px;
        .title {
          font-size: 18px;
          font-weight: 600;
          line-height: 26px;
          letter-spacing: 0px;
          color: #000000;
          margin-bottom: 0;
        }
        .offer-text {
          font-size: 13px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          margin-bottom: 0;
        }
      }
      .campaign-type-logo {
        padding: 10px 10px 10px 8px;
        background: #f8f0ff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 74px;
        align-self: center;
        p {
          color: #992894;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          letter-spacing: 0.10000000149011612px;
          border-radius: 50%;
        }
        img {
          margin-right: 5px;
        }
      }
      .kexy-tag {
        border-radius: 20px;
        background-color: #f4611220;
        display: inline-flex;
        // padding: 5px 12px 5px 10px;
        align-items: center;
        gap: 5px;
        padding: 10px;
        align-self: center;
        .dot {
          //width: 7px;
          //height: 7px;
          //border-radius: 5px;
          //background-color: #f46112;
        }
        span {
          text-transform: uppercase;
          color: #f46112;
          font-size: 11px;
          font-weight: 600;
        }
        &.fd {
          background-color: #99289420;
          min-width: fit-content;
          .dot {
            background-color: #992894;
          }
          span {
            color: #992894;
          }
        }
        &.pl {
          background-color: #095cd220;
          min-width: fit-content;
          .dot {
            background-color: #095cd2;
          }
          span {
            color: #095cd2;
          }
        }
        &.info {
          background-color: #209ddf20;
          min-width: fit-content;
          .dot {
            background-color: #209ddf;
          }
          span {
            color: #209ddf;
          }
        }
      }
    }
  }
  .bottom-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .btn-wrap {
      //width: 30%;
      flex: 1;
    }
    .btn-wrap:only-child {
      flex: 0 0 33.33%;
    }
  }
}

.loading {
  //background: #e7f6fe !important;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 300px;
  height: 200px;
  margin: 100px auto;
  left: 0;
  right: 0;
  z-index: 10;
  overflow: hidden;
  background: white;
  border-radius: 10px;
}
.for-mobile {
  display: none !important;
}

.send-email-modal-content {
  padding: 20px;
  .title-and-close-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .modal-of-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      margin-bottom: 0;
      color: #0047cc;
    }
    .close-icon-wrap {
      cursor: pointer;
    }
  }
  .send-email-modal-body {
    .top-area {
      display: flex;
      align-items: center;
      margin-top: 15px;
      .icon-wrap {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #0047cc;
        display: flex;
        justify-content: center;
        align-items: center;
        i,
        span {
          color: white;
          font-weight: 600;
          // font-size: 17px;
        }
      }
      .text-content {
        .you-sent-email-text {
          margin-bottom: 0;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0px;
          color: black;
          opacity: 60%;
        }
        .time-text {
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0px;
          color: #000000;
          opacity: 60%;
          i {
            margin-left: 8px;
          }
        }
      }
    }
    .inputs-wrap {
      display: flex;
      gap: 15px;
      margin: 15px 0;
      .label-and-input {
        width: 50%;
      }
    }
    .text-area {
      //margin-top: 15px;
    }
    .bottom-btn-area {
      margin-top: 15px;
      width: 160px;
      .btn-wrap {
      }
    }
  }
}
.margin-bottom-for-mobile-screen {
  display: none;
}

/*******************************************
        Responsiveness CSS
********************************************/

/* Medium Devices, Wide Screens */

@media (max-width: 767px) {
  .public-promotion-page {
    padding: unset;
  }
  .desktop-preview-content-wrap {
    padding: 10px;
    min-height: unset;
    .top-mid-section-wrap {
      border: none;
    }
    .top-area {
      display: block;
      padding: 0 12px 12px 12px;
      .asset-and-buttons {
        margin: 15px 0 0 0;
        .img-wrap {
          width: 100%;
          height: 150px;
          .heart-icon-wrap {
            .save-favorite-btn-wrap {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      .other-content {
        .validation-info-wrap {
          .img-wrap {
            margin-left: 10px;
            img {
              width: 50px;
            }
          }
        }
      }
    }
    .bottom-section {
      display: block;
      padding: 0 20px;
      .btn-wrap {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
  .for-desktop {
    display: none !important;
  }
  .for-mobile {
    display: flex !important;
  }
  .margin-bottom-for-mobile-screen {
    display: block;
    margin-bottom: 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .desktop-preview-content-wrap {
    .kexy-deal-logo {
      width: 40px;
      min-width: 40px;
      height: 40px;
      .deal-logo-text {
        font-size: 10px;
        line-height: 13px;
      }
    }
    .top-section {
      padding: 15px 10px 20px 10px;
      .img-wrap {
        margin-right: 15px;
        width: 180px;
        height: 180px;
      }
      .content-wrap {
        .head-area {
          margin-bottom: 0;
          .title-and-date-wrap {
            h5 {
              font-size: 15px;
              margin-bottom: 4px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .desktop-preview-content-wrap {
    .kexy-deal-logo {
      width: 48px;
      min-width: 48px;
      height: 48px;
      .deal-logo-text {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .top-section {
      padding: 15px 10px 20px 10px;
      .img-wrap {
        margin-right: 20px;
        width: 200px;
        height: 200px;
      }
      .content-wrap {
        .head-area {
          margin-bottom: 0;
          .title-and-date-wrap {
            h5 {
              font-size: 17px;
              margin-bottom: 4px;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
