<div class="desktop-preview-content-wrap">
  <div class="top-mid-section-wrap">
    <div class="top-area">
      <div class="asset-and-buttons">
        <div class="img-wrap" [style.backgroundImage]="'url(' + getImageUrl() + ')'">
          <div class="heart-icon-wrap">
            <div class="save-favorite-btn-wrap">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="buttons-wrap">
          <div class="btn-wrap mb-2">
            <app-kexy-button
              [disabled]="!pageData.detail.salesSheet"
              label="Info Sheet"
              bgColor="#E7F6FE"
              textColor="#0047CC"
              iconLeft="fa-cube"
              (click)="productInfoSheetBtnClick()"
            ></app-kexy-button>
          </div>
          <div class="btn-wrap">
            <app-kexy-button
              [disabled]="!pageData.detail.video"
              label="Play Video"
              bgColor="#E7F6FE"
              textColor="#0047CC"
              iconLeft="fa-youtube-play"
              (click)="playVideoBtnClick()"
            ></app-kexy-button>
          </div>
        </div>
      </div>
      <div class="other-content">
        <div class="campaign-type-logo-and-title">
          <div class="title-and-offer-text">
            <p class="title">{{ productText }}</p>
          </div>
          <div
            class="kexy-tag"
          >
            <span
              *ngIf="pageData.detail.landingPageType === constants.DEAL_WITH_PRICE">{{ constants.DEAL_LIST_PRICE }}</span>
            <span
              *ngIf="pageData.detail.landingPageType === constants.ANNOUNCEMENT_KEY">{{ constants.ANNOUNCEMENT_VALUE }}</span>
            <span
              *ngIf="pageData.detail.landingPageType === constants.FEATURED_PRODUCT">{{ constants.PRODUCT_OFFERING_NO_PRICE_LISTED }}</span>
            <span
              *ngIf="pageData.detail.landingPageType === constants.LISTING_OF_PRODUCT">{{ constants.LIST_PRODUCT_ON_PLATFORM }}</span>
          </div>
        </div>
        <div class="campaign-price-savings-specs-info-wrap">
          <div class="info-row">
            <p class="left-text">Contact Person</p>
            <p class="right-text">{{ contactPerson }}</p>
          </div>
          <div class="info-row"
               [style.border]="pageData.detail.landingPageType === constants.FEATURED_PRODUCT ? 'none' : ''">
            <p class="left-text">Price</p>
            <p *ngIf="pageData.detail.price" class="right-text">{{ pageData.detail.price }}</p>
            <p *ngIf="!pageData.detail.price" class="right-text">N/A</p>
          </div>
          <div *ngIf="pageData.detail.landingPageType !== constants.FEATURED_PRODUCT" class="info-row border-0">
            <p class="left-text">Estimated Savings</p>
            <p *ngIf="pageData.detail.estimatedSavings"
               class="right-text">{{ pageData.detail.estimatedSavings }}</p>
            <p *ngIf="!pageData.detail.estimatedSavings" class="right-text">N/A</p>
          </div>
        </div>
        <div class="validation-info-wrap">
          <div class="contents">
<!--            <p *ngIf="pageData.detail.start_date" class="date-range-text">-->
<!--              Valid from {{ pageData.detail.start_date | date : "MMM d, y" }} - till-->
<!--              {{ pageData.detail.end_date | date : "MMM d, y" }}-->
<!--            </p>-->
            <p class="offer-text">{{ campaignTitleText }}</p>
          </div>
          <div class="img-wrap">
            <img src="/assets/images/hand-mike.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="middle-section">
      <div *ngIf="campaignDetailsText" class="area-wrap">
        <app-label-and-value label="Details"
                             [value]="campaignDetailsText ? campaignDetailsText : 'N/A'"></app-label-and-value>
      </div>
      <div *ngIf="pageData.detail.productKnowledge" class="area-wrap">
        <app-label-and-value
          [label]="pageData.detail.landingPageType === constants.LISTING_OF_PRODUCT ? 'Service Description' : 'Product Description'"
          [value]="pageData.detail.productKnowledge"></app-label-and-value>
      </div>
      <div *ngIf="pageData.detail.additionalInfo" class="area-wrap">
        <app-label-and-value label="Additional Info"
                             [value]="pageData.detail.additionalInfo || 'N/A'"></app-label-and-value>
      </div>
    </div>
  </div>

  <div class="bottom-section">

    <div class="btn-wrap" *ngFor="let button of buttonsList; let i = index;">
      <app-kexy-button [label]="button.label" [bgColor]="i === 0 ? '' : 'transparent'"
                       [borderColor]="i === 0 ? '' : 'black'" [textColor]="i === 0 ? '' : 'black'" iconSize="small"
                       align="center"></app-kexy-button>
    </div>
  </div>
</div>
