.switch-item {
  font-size: 13px;
  line-height: 16px;
}

.switch-item-active {
  font-size: 13px;
  line-height: 16px;
  color: #0047cc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  margin: 0 10px 0 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F1F5F7;
  border: 1px solid #C4CBCF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: #C4CBCF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.active {
  border: 1px solid #12A5F4;
}

.slider.active:before {
  background-color: #12A5F4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
